<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Favorite recipes</title>
    <link
      rel="stylesheet" href="../static/css/browse.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

<header>
    {% include 'header.html' %}
</header>

<div class="breadcrumb">
    <a href="{{ url_for('home_bp.home') }}">Home < </a>
    <a href="{{ url_for('favorite_bp.favorite') }}">Favorites</a>
</div>

<div class="Categories">
    <h2 style = "font-family: 'Playfair Display', serif;">Favorites</h2>
    <ul class="browse-list">
        {% for recipe in recipes %}
        <li class="browse-card">
            <a href = "{{ url_for('recipe_bp.recipe_detail', recipe_id=recipe.id) }}">
                <div class =  "browse-image">
                    <img src="{{ recipe.images[0] }}" alt="{{ recipe.name }}">
                </div>
                <p class="browse-name">{{ recipe.name }}</p>
                <p class="desc"><strong>Rating:</strong>
                    {% if health_stars[recipe.id] %}
                        {% set full_stars = health_stars[recipe.id]|int %}
                        {% set half_star = 1 if (health_stars[recipe.id] - full_stars) >= 0.5 else 0 %}
                        {{ '★' * full_stars }}{{ '⯨' * half_star }} ({{ health_stars[recipe.id] }})
                    {% else %}
                        Health star rating unavailable
                    {% endif %}
                </p>
            </a>
        </li>
        {% endfor %}
    </ul>

    <!-- pagination code -->
    <div class="pagination">
        {%  if page > 1 %}
            <a href="{{ url_for('favorite_bp.favorite', page=page-1) }}" class="page-btn">Previous</a>
        {% endif %}

        {% if 1 not in pages %}
            <a href="{{ url_for('favorite_bp.favorite', page=1) }}" class="page-btn">1</a>
            {% if 2 not in pages %}
                <span class="dots">...</span>
            {% endif %}
        {% endif %}

        {% for p in pages %}
            {% if p == page %}
                <span class="current-page">{{ p }}</span>
            {% else %}
                <a href="{{ url_for('favorite_bp.favorite', page=p) }}" class="page-btn">{{ p }}</a>
            {% endif %}
        {% endfor %}

        {% if total_pages not in pages %}
            {% if total_pages - 1 not in pages %}
                <span class="dots">...</span>
            {% endif %}
                <a href="{{ url_for('favorite_bp.favorite', page=total_pages) }}" class="page-btn">{{ total_pages }}</a>
        {% endif %}

        {% if page < total_pages %}
            <a href="{{ url_for('favorite_bp.favorite', page=page + 1) }}" class="page-btn">Next</a>
        {% endif %}
    </div>
</div>

<footer>
    {% include 'footer.html' %}
</footer>

</body>
</html>