<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link
      rel="stylesheet" href="../static/css/main.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        {% include 'header.html' %}
    </header>

    <div class="breadcrumb">
        <a href="{{ url_for('home_bp.home') }}">Home</a>
    </div>

    <div class="recipe-index">
    <h2 style = "font-family: 'Playfair Display', serif;">HOME</h2>
    <div class="text-box">Welcome to A Cozy Kitchen — your place for easy, heartwarming recipes that bring comfort to every meal. Whether you’re cooking for family, friends, or just yourself, we’ve got dishes that fit every mood and occasion.</div>
    </div>
    <div class="recipe-of-the-day">
        <h1 style = "font-family: 'Playfair Display', serif;">Recipes of the Day</h1>
        <ul class="recipe-list">
            {% for recipe in recipes %}
                <li class="recipe-card">
                <a href="{{ url_for('recipe_bp.recipe_detail', recipe_id=recipe.id) }}">
                    <img src="{{ recipe.images[0] }}" alt="Recipe Image">
                    <p class="name">{{ recipe.name}}</p>
                    <p class="desc">{{ recipe.author.name}}</p>
                    <p class="desc"><strong>Nutrition Rating:</strong>
                        {% set stars = health_stars[recipe.id] %}
                        {% if stars %}
                            {% set full_stars = stars|int %}
                            {% set half_star = 1 if (stars - full_stars) >= 0.5 else 0 %}
                            {{ '★' * full_stars }}{{ '⯪' * half_star }} ({{ stars }})
                        {% else %}
                            Health star rating unavailable
                        {% endif %}
                    </p>
                </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="Categories">
        <h1 style = "font-family: 'Playfair Display', serif;">Top view Categories</h1>
        <ul class="category-list">
            {% for category in categories[0:6] %}
                <li class="category-card">
                    <a href="{{ url_for('search_bp.search', filter_by='category', q=category.name) }}">
                        <img  src= "{{ category.recipes[0].images[0] }}" alt="Category Image">
                        <p class="name">{{ category.name }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>