<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Description</title>
    <link
      rel="stylesheet" href="../static/css/main.css"
    />
</head>
<body>
<header>
    {% include 'header.html' %}
</header>
<div class="recipe-of-the-day">
<h1>Recipes of the Day</h1>
<ul class="recipe-list">
    {% for recipe in recipes %}
        <li class="recipe-card">
        <a href="#">
            <img src="{{ recipe.images }}" alt="Recipe Image">
            <p class="name">{{ recipe.name}}</p>
            <p class="desc">{{ recipe.description}}</p>
        </a>
    </li>
    {% endfor %}
</ul>
</div>
<footer>
    {% include 'footer.html' %}
</footer>
</body>
</html>